<h2> property details</h2>
<h3>The apartment is located at <%=#{address} %>. Monthly rent: <%=#{monthly_rent} %> Square feet:<%=#{sqft} %>, Number of beds:<%=#{num_beds} %>, Number of baths:<%=#{num_baths} %>, Renters:<%=#{renters} %> </h3>
