<ul><% @apartments.each do |apartment| %>
  <li>Address: <%= apartment.address %></li>
  <li>Monthly Rent: <%= apartment.monthly_rent %></li>
  <li>Square Feet: <%= apartment.sqft %></li>
  <li># Beds: <%= apartment.num_beds %></li>
  <li># Baths: <%= apartment.num_baths %></li>
<% end %></ul>
