<h1><a href="/apartments">Info For This Apartment</a></h1>
<div class="apartment">
<p>Apartment Address: <%= @apartment.address %></p>
<p>Apartment Monthly Rent: <%= @apartment.monthly_rent %></p>
<p>Apartment Square Feet: <%= @apartment.sqft %></p>
<p>Apartment Number of Bedrooms: <%= @apartment.num_beds %></p>
<p>Apartment Number of Bathrooms: <%= @apartment.num_baths %></p>
</div>