<h1>Apartment Info</h1>

<p>Address: <%= @apartments.address %></p>
<p>Monthly Rent: $<%= @apartments.monthly_rent %></p>
<p>Squarefoot: <%= @apartments.sqft %> square ft. </p>
<p>Bedroom(s): <%= @apartments.num_beds %></p>
<p>Bathroom(s): <%= @apartments.num_baths %></p>

<b><a href="/">Main Menu</a></b>
