<h1>Apartment <%= params[:id]%></h1>
<%# id = params[:id].to_i%>
<p>
  Address: <%= @apartments[@hash][:address] %>
</p>

<p>
  Monthly Rent: $<%= @apartments[@hash][:monthly_rent] %>
</p>

<p>
  Square feet: <%= @apartments[@hash][:sqft] %>
</p>

<p>
  Bedrooms: <%= @apartments[@hash][:num_beds] %>
</p>

<p>
  Bathrooms: <%= @apartments[@hash][:num_baths] %>
</p>

<h2>Tenants</h2>

<ul>
<% @tenants.each do |tenant| %>
  <% if tenant[:apartment_id] == params[:id].to_i %>
      <li><%= tenant[:name]%></li>
  <% end %>
<% end %>
</ul>
