<h1> apartment number <%= params[:id] %> </h1>
  <ul>
    <li> <%= @apartments params[:address] %> </li>
    <li> <%= params[:monthly_rent] %> </li>
    <li> <%= params[:sqft] %> </li>
    <li> <%= params[:num_beds] %> </li>
    <li> <%= params[:num_baths] %> </li>
    <li> <%= params[:renters] %> </li>
  </ul>
