<h1><a href="/apartments">All Apartments</a></h1>

<div class="apartments">
  <h2>Address: <%= @apartments.address %></h2>
  <ul>
    <li>Price: <%= @apartments.monthly_rent %></li>
    <li>Size: <%= @apartments.sqft %></li>
    <li>Baths: <%= @apartments.num_baths %></li>
    <li>Beds: <%= @apartments.num_beds %></li>
  </ul>
</div>
