<p>Address: <%= @apartment.address %>
</br>
  <%= @apartment.sqft %> sqft
</br>
  Number of Beds: <%= @apartment.num_beds %>
</br>
  Number of Baths: <%= @apartment.num_baths %>
</p>


<a href="/apartment/<%= @apartment.id %>/edit">Edit Apartment</a>

<a href="/"> Main Menu </a>
