<h2>Hello <%=@tenants.name %></h2>
<h3>Name:</h3>
<p><%=@tenants.name %></p>
<h3>Age:</h3>
<p><%=@tenants.age %> years old</p>
<h3>Gender:</h3>
<p><%=@tenants.gender %></p>
<h3>Home:</h3>
<p><a href="/apartments/<%=@tenants.apartment_id %>"><%=@tenants.apartment.address %></a></p>
<h3><a href="/">HOME</a></h3>
