<div class="container">
  <h2>Edit Tenant</h2>

  <form action="/tenants/<%= @tenant.id %>" method="post">
    <input type="hidden" name="_method" value="put">
    <label>Name:</label>
    <input type="text" name="tenant[name]" value="<%= @tenant.name %>">
    <label>Age:</label>
    <input type="text" name="tenant[age]" value="<%= @tenant.age %>">
    <label>Gender:</label>
    <input type="text" name="tenant[gender]" value="<%= @tenant.gender %>">
    <p>
    <label>Apartment:</label>
    <select name="tenant[apartment_id]">
      <option value="" disabled selected><%= @current_apt.address %></option>
      <% @apartments.each do | apartment | %>
          <option value="<%= apartment.id %>"><%= apartment.address %></option>
      <% end %>
    </select>
    <input type="submit" value="Update Tenant">
  </p>
  </form>

  <h2>Delete Tenant</h2>
  <form action="/tenants/<%= @tenant.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
</div>
