<div class="container">
<form action="/tenants/<%= @tenant.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <label>Name: </label>
    <input type="text" name="tenant[name]" value="<%= @tenant.name %>">
  <label>Age: </label>
    <input type="text" name="tenant[age]" value="<%= @tenant.age %>">
  <label>Gender: </label>
    <input type="text" name="tenant[gender]" value="<%= @tenant.gender %>">

  <input class="btn btn-warning" type="submit" value="Update">
</form>
<br>
<br>
<br>

<form action="/tenants/<%= @tenant.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input class="btn btn-danger" type="submit" value="DELETE">
</form>
</div>
