<form action="/tenants/<%= @tenants.id %>" method="post">
  <input type="hidden" name="_method" value="put">

  <labe for="tenant[name]">Name: </label>
  <input type="text" name="tenant[name]" value="<%= @tenant.name %>">

  <label for="tenant[cp]">Age: </label>
  <input type="text" name="tenant[age]" value="<%= @tenant.age %>">

  <label for="tenant[gender]">Gender: </label>
  <input type="text" name="tenant[gender]" value="<%= @tenant.gender %>">

  <label for="tenant[apartment_id]">Apartment ID: </label>
  <input type="text" name="tenant[apartment_id]" value="<%= @tenant.apartment_id %>">
</form>

  <h2>Delete Tenant</h2>
  <form action="/tenants/<%= @tenant.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="DELETE TENANT">
  </form>
