<form action="/tenants/<%= @tenant.id%>" method="post">
  <input type="hidden" name="_method" value="put">

<form action="/tenants" method="post">
    <label>Name: </label>
    <input type="text" name="tenant[name]" value="<%= @tenant.name%>">

    <label>Age: </label>
    <input type="text" name="tenant[age]" value="<%= @tenant.age%>">

    <label>Gender: </label>
    <input type="text" name="tenant[gender]" value="<%= @tenant.gender%>">

    <input type="submit" value="update tenant">

</form>

<h2>Delete Tenant</h2>
<form action="/tenants/<%= @tenant.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="delete tenant">
</form>
