<form action="/tenants/<%= @tenant.id %>" method="post">
  <input type="hidden" name="_method" value="put">

  <label>Name</label>
  <input type="text" name="tenant[name]" value="<%= @tenant.name %>">
  <label>Age</label>
  <input type="text" name="tenant[age]" value="<%= @tenant.age %>">
  <label>Gender</label>
  <input type="text" name="tenant[gender]" value="<%= @tenant.gender %>">
  <br><br><label>Residence</label><br>
  <% @apartments.each do |apartment| %>
    <input type="radio" name="tenant[apartment_id]" value="<%= apartment.id %>">
    <label><%= apartment.address %></label><br>
  <% end %>
  <input type="submit" value="personality is a mutable construct broh">
</form>

<form action="/tenants/<%= @tenant.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="YOU SICK MONSTER">
</form>
