<h2>Listing of all current tennants</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Apartment</th>
    <th>Tenant ID</th>
  </tr>
  <% @tenants.each do |tenant| %>
  <tr>
    <td><a href="<%= '/tenants/' + tenant.id.to_s %>"><%= tenant.name %></a></td>
    <td><%= tenant.age %></td>
    <td><%= tenant.gender %></td>
    <td><a href="<%= '/apartments/' + tenant.apartment_id.to_s %>"><%= tenant.apartment.address if tenant.apartment != nil %></a></td>
    <td><%= tenant.id %></td>
  </tr>
  <% end %>
</table>
