<div class="tenantDetails">
  Tenant Details
</div>

<div class="singleTenant">
<div>Name: <%=@tenant.name%></div>
<div>Age: <%=@tenant.age%></div>
<div>Gender: <%=@tenant.gender%></div>
<div>Apartment#: <%=@tenant.apartment_id%></div>
<a href="/tenants/<%=@tenant.id%>/edit">Edit</a>
</div>
