<h1>Tenant Show</h1>
<h3><a href="<%= @apartment.id %>"><%= @apartment.address %></a></h3>

<h2><%= @tenant.name %></h2>
<h3><a href="<%= @tenant.id %>/edit">Edit</a></h3>

<p>Age: <%= @tenant.age %></p>
<p>Gender: <%= @tenant.gender %></p>
