
<div class="wrapper">
<h1> <%= @tenant.name %> </h1>
<h3> <span>Age</span>: <%= @tenant.age %> </h2>
<h3> <span>Gender</span>: <%= @tenant.gender %> </h2>
<h3> <span>Apartment</span>: <%= @apartment.address %> </h2>
</div>

<div class ="edit">
<h2><a href="/tenants/<%= @tenant.id %>/edit">Edit This tenant</a></h3>
</div>
</div>
