<div class="container">
  <h2><%= @tenant.name %></h2>
  <p>Age: <%= @tenant.age %></p>
  <p>Gender: <%= @tenant.gender %></p>
  <p>Apartment: <%= @current_apt.address %></p>
  <p><a href="/tenants">Back to Tenant Listings</a> | <a href="/tenants/<%= @tenant.id %>/edit">Edit Tenant</a></p>
</div>
