<a href = "/tenants">Back to tenant list</a> <br>

<%= @tenant.name %> <br>
Age: <%= @tenant.age %> <br>
Gender: <%= @tenant.gender %> <br>
Current Residence: <a href="/apartments/<%= @residence.id %>"><%= @residence.address %> </a><br>

<a href="/tenants/<%= @tenant.id %>/edit">Edit or delete this tenant</a><br><br>
