<h2> NAME:           ---->  <%= @tenant.name %></h2>

<h2> AGE:            ----->  <%=@tenant.age %> </h2>

<h3> GENDER:    --->  <%=@tenant.gender%> </h3>


<h3> APARTMENT ID:    --->  <%=@tenant.tenant_id %> </h3>




<br><br>
<a href="/tenants/<%=@tenant.id%>/edit" > EDIT:  <%=@tenant.name %> </a>
