<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= @tenant.name %></title>
</head>
<body>
<h1><%= @tenant.name %></h1>
<% if @tenant.apartment != nil %>
<h2>Resides at <a href="/apartments/<%= @tenant.apartment.id%>"><%= @tenant.apartment.address %></a></h2>
<% else %>
<h2>No residence</h2>
<% end %>
<h2><%= @tenant.age %> year old <%= @tenant.gender %></h2>
<h3><a href="/tenants/<%= @tenant.id %>/edit">Edit this tenant</a></h3>
</body>
</html>
