
<h2>Tenant Name: <%= @tenant.name %></h2>
<h2>Age:</h2> <img src="<%= @tenant.age %>">
<h2>Gender: <%= @tenant.gender %></h2>
<h2>Apartment: <a href="/apartments/<%= @apartment.id %>"><%= @apartment.name %></a></h2>
