<h2><%= @tenant.name %></h2>

<ul>
  <li>Age: <%= @tenant.age %></li>
  <li>Gender: <%= @tenant.gender %></li>
  <li>Apartment ID: <%= @tenant.apartment_id %></li>
  <li>ID: <%= @tenant.id %></li>
</ul>

<!--
id SERIAL PRIMARY KEY,
name TEXT,
age INTEGER,
gender TEXT,
apartment_id INTEGER
 -->
