<h1> <%= @apartment.address %> </h1>

<p> Monthly Rent: $<%= @apartment.monthly_rent %></p>

<p> <%= @apartment.sqft %> Sqft.</p>

<p> Bedrooms: <%= @apartment.num_beds %></p>

<p> Bathrooms: <%= @apartment.num_baths %></p>
