<h2><%= @apt.address %></h2>

<ul>
  <li>Address: </li>
  <li>Monthly Rent: <%= @apt.monthly_rent %></li>
  <li>Square Feet: <%= @apt.sqft %></li>
  <li>Bedrooms: <%= @apt.num_beds %></li>
  <li>Bathrooms: <%= @apt.num_baths %></li>
  <li>ID: <%= @apt.id %></li>
</ul>
