<ul class="apartment_detail">
  <li>
    Address:
    <%= @apartment.address %>
  </li>
  <li>
    Monthly_rent: $
    <%= @apartment.monthly_rent %>
  </li>
  <li>
    Square Feet:
    <%= @apartment.sqft %>
  </li>
  <li>
    Number of Bedrooms:
    <%= @apartment.num_beds %>
  </li>
  <li>
    Number of Baths:
    <%= @apartment.num_baths %>
  </li>
</ul>
