<h2><%= @apartment[:address] %></h2>
<ul>
  <li>Rent - <%= @apartment[:monthly_rent] %></li>
  <li>Square Feet - <%= @apartment[:sqft] %></li>
  <li>Number of Beds - <%= @apartment[:num_beds] %></li>
  <li>Number of Baths - <%= @apartment[:num_baths] %></li>
</ul>

<h3>Tenants</h3>
<ul>
<% @tenants.each do | tenant | %>
  <li><%= tenant[:name] %></li>
<% end %>
</ul>

<a href="/apartments/new_tenant/<%= @apartment.id %>">Add Tenant</a>
