<ul>
  <li>Address: <%= @apt.address %></li>
  <li>Monthly Rent: <%= @apt.monthly_rent %></li>
  <li>Square Feet: <%= @apt.sqft %></li>
  <li># Beds: <%= @apt.num_beds %></li>
  <li># Baths: <%= @apt.num_baths %></li>
</ul>
