  <p>Id = <%= Apartment.find(@id).tenants%></p>
  <p>Name = <%= Apartment.find(@id).tenants[0].name %></p>
  <p>Age = <%= Apartment.find(@id).tenants[0].age %></p>
  <p>Gender = <%= Apartment.find(@id).tenants[0].gender %></p>
  <p>Apartment_ID = <%= Apartment.find(@id).tenants[0].apartment_id %></p>
