<h2> property details</h2>
<p>Apartment: <%=@apartment.address%></p>
<p>Rent: <%=@apartment.monthly_rent%></p>
<p>SQFT: <%=@apartment.sqft%></p>
<p>Beds: <%=@apartment.num_beds%></p>
<p>Bathrooms: <%=@apartment.num_baths%></p>
<p>Apartment ID: <%=@apartment.id%></p>

<p><a href="<%=@apartment.id%>/edit">Edit</a></p>

<form method="post" action="/apartments/<%=@apartment.id%>">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="delete"/>
</form>

<h3>Tenants </h3>
<% @tenants.each do |tenant| %>
  <p><%= tenant.name %></p>
  <p><%= tenant.apartment_id %></p>
<% end %>
