
<ul>
<li><span>Address: <%=@apartments_info.address%></span></li>
<li><span>monthly Rent: <%=@apartments_info.monthly_rent%></span></li>
<li><span>sqft: <%=@apartments_info.sqft%></span></li>
<li><span>number of beds: <%=@apartments_info.num_beds%></span></li>
<li><span>number of baths: <%=@apartments_info.num_baths%></span></li>
<li><a href="<%=@apartments_info.id%>/tenants">Renters</a></li>
</ul>
