<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bob Pizza's Rennovations</title>
</head>
<body>
  <h1>Edit apartment!</h1>
  <form action="/apartments/<%= @apartment.id %>" method="post">
    <input type="hidden" name="_method" value="put">

    <p>Address: <input type="text" name="apartment[address]" value = "<%= @apartment.address %>"></p>
    <p>Monthly Rent: <input type="text" name="apartment[monthly_rent]" value = "<%= @apartment.monthly_rent %>"></p>
    <p>Size in square feet: <input type="text" name="apartment[sqft]" value = "<%= @apartment.sqft %>"></p>
    <p>Number of beds: <input type="text" name="apartment[num_beds]" value = "<%= @apartment.num_beds %>"></p>
    <p>Number of baths: <input type="text" name="apartment[num_baths]" value = "<%= @apartment.num_baths %>"></p>
    <input type="submit" value="Submit">
  </form>
</body>
</html
