<div class="container">
  <h2>Create Apartment</h2>

  <form id="update_apartment" action="/apartments/<%= @apartment.id %>" method="post">
    <input type="hidden" name="_method" value="put">

    <div>
      <label>Address: </label>
      <input type="text" name="apartment[address]" value="<%= @apartment.address %>">
    </div>

    <div>
      <label>Rent/Month: </label>
      <input type="text" name="apartment[monthly_rent]" value="<%= @apartment.monthly_rent %>">
    </div>

    <div>
      <label>Sqft: </label>
      <input type="text" name="apartment[sqft]" value="<%= @apartment.sqft %>">
    </div>

    <div>
      <label>num_beds </label>
      <input type="text" name="apartment[num_beds]" value="<%= @apartment.num_beds %>">
    </div>

    <div>
      <label>num_baths </label>
      <input type="text" name="apartment[num_baths]" value="<%= @apartment.num_baths %>">
    </div>

    <h2><a
        href="javascript:{}"
        onclick="document.getElementById('update_apartment').submit();"
        type="submit">(Update)
    </a></h2>
  </form>

  <a href="/apartments/<%= @apartment.id %>">(Go Back)</a>
</div>
