<form action="/apartments/<%= @apartment.id %>" method="post" >
  <input type="hidden" name="_method" value="put">
  <label>Address</label>
  <input type="text" name="apartment[name]" value="<%= @apartment.address %>">
  <label>Monthly_Rent</label>
  <input type="text" name="apartment[monthly_rent]" value="<%= @apartment.monthly_rent %>">
  <label>Square Feet</label>
  <input type="text" name="apartment[sqft]" value="<%= @apartment.sqft %>">
  <label>Bedrooms</label>
  <input type="text" name="apartment[num_beds]" value="<%= @apartment.num_beds %>">
  <label>Bathrooms</label>
  <input type="text" name="apartment[num_baths]" value="<%= @apartment.num_baths %>">
  <input type="submit" value="Update apartment">
</form>

<div class ="delete"> Delete Property:
  <form action="/apartments/<%= @apartment.id %>" method="post" >
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete apartment">
  </form></h2>
