<form action="/apartments/<%= @apartment.id %>" method="post">
  <input type="hidden" name="_method" value="put">

  <label>Address:</label>
  <input type="text" name="apartment[address]" value="<%= @apartment.address %>">

  <label>Rent:</label>
  <input type="text" name="apartment[monthly_rent]" value="<%= @apartment.monthly_rent %>">

  <label>Sqft</label>
  <input type="text" name="apartment[sqft]" value="<%= @apartment.sqft %>">

  <label>Beds</label>
  <input type="text" name="apartment[num_beds]" value="<%= @apartment.num_beds %>">

  <label>Baths</label>
  <input type="text" name="apartment[num_baths]" value="<%= @apartment.num_baths %>">

  <label>Tenant(s)</label>
  <input type="text" name="tenant[name]" value="<%= @tenant.name %>">

  <input type="submit" value="Update Apartments">


</form>
<h2>Delete Apartment</h2>
<form action="/apartments/<%= @apartment.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Bye Apartment">
</form>
