<h5>
  <a href='/apartments'>Back to Apartment List</a> ||
  <a href='/apartments/<%= @apartment.id %>'>Back to Apartment #<%= @apartment.id %></a>
</h5>

<h2>Updating Information for Apartment #<%= @apartment.id %></h2>
<form action = '/apartments/<%= @apartment.id %>' method = "post" >
  <input type = "hidden" name = "_method" value = "put" />

  <label for = "apartment[address]">Address: </label>
  <input name = "apartment[address]"
         value = "<%= @apartment.address %>"
  >

  <label for = "apartment[monthly_rent]">Monthly rent: </label>
  <input name = "apartment[monthly_rent]"
         value = "<%= @apartment.monthly_rent %>"
  >

  <label for = "apartment[num_beds]">Number of beds: </label>
  <input name = "apartment[num_beds]"
         value = "<%= @apartment.num_beds %>"
  >

  <label for = "apartment[num_baths]">Number of bathrooms: </label>
  <input name = "apartment[num_baths]"
         value = "<%= @apartment.num_baths %>"
  >

  <input type = "submit" value="Update" />
</form>
