<h2>Edit this Apartment</h2>
<form action="/apartments/<%= @apartment.id %>" method="post">
  <input type="hidden" name="_method" value="put">

  <label>Address: </label>
  <input type="text" name="apartment[address]" value="<%= @apartment.address %>">

  <label>sqft: </label>
  <input type="text" name="apartment[sqft]" value="<%= @apartment.sqft %>">

  <label>Number of Bedrooms: </label>
  <input type="text" name="apartment[num_beds]" value="<%= @apartment.num_beds %>">

  <label>Number of Baths: </label>
  <input type="text" name="apartment[num_baths]" value="<%= @apartment.num_baths %>">

  <label>Monthly Rent: </label>
  <input type="text" name="apartment[monthly_rent]" value="<%= @apartment.monthly_rent %>">

  <input type="submit" value="UPDATE">

</form>
