<form action="/apartments/<%= @apartment.id%>" method="post">
  <input type="hidden" name="_method" value="put">

    <label>Address: </label>
    <input type="text" name="apartment[address]" value="<%= @apartment.address%>">

    <label>Monthly rent: </label>
    <input type="text" name="apartment[monthly_rent]" value="<%= @apartment.monthly_rent%>">

    <label>Square footage: </label>
    <input type="text" name="apartment[sqft]" value="<%= @apartment.sqft%>">

    <label>Number of bedrooms: </label>
    <input type="text" name="apartment[num_beds]" value="<%= @apartment.num_beds%>">

    <label>Number of bathrooms: </label>
    <input type="text" name="apartment[num_baths]" value="<%= @apartment.num_baths%>">

    <input type="submit" value="update property">

</form>

<h2>Delete Apartment</h2>
<form action="/apartments/<%= @apartment.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="delete property">
</form>
