<% apartment = Apartment.find(params[:id]) %>

<h2> Address: <%= apartment.address %> </h2>
<h2> Monthly Rent: <%= apartment.monthly_rent %> </h2>
<h2> Square Feet: $<%= apartment.sqft %> </h2>
<h2> Number of Bedrooms: <%= apartment.num_beds %> </h2>
<h2> Number of Bathrooms: <%= apartment.num_baths %> </h2>

<a href="/apartments/<%= apartment.id %>/edit"> Edit this artist</a>
