<h2>Listing of <%= @apts.length %> livable Apartments</h2>
<table>
  <tr>
    <th>address</th>
    <th>monthly rent</th>
    <th>square feet</th>
    <th>bedrooms</th>
    <th>bathrooms</th>
    <th>tenants</th>
    <th>id</th>
  </tr>
  <% @apts.each do |apt| %>
  <tr>
    <td><a href="<%= '/apartments/' + apt.id.to_s %>"><%= apt.address %></a></td>
    <td><%= apt.monthly_rent %></td>
    <td><%= apt.sqft %></td>
    <td><%= apt.num_beds %></td>
    <td><%= apt.num_baths %></td>
    <td><%= apt.tenants.length %></td>
    <td><%= apt.id %></td>
  </tr>
<% end %>
</table>
