<table>
  <tr>
    <th>address</th>
    <th>monthly rent</th>
    <th>square feet</th>
    <th>bedrooms</th>
    <th>bathrooms</th>
    <th>id</th>
  </tr>
  <% @apts.each do |apt| %>
  <tr>
    <td><a href="<%= '/apartments/' + apt.id.to_s %>"><%= apt.address %></a></td>
    <td><%= apt.monthly_rent %></td>
    <td><%= apt.sqft %></td>
    <td><%= apt.num_beds %></td>
    <td><%= apt.num_baths %></td>
    <td><%= apt.id %></td>
  </tr>
<% end %>
</table>


<!--
address TEXT,
monthly_rent INTEGER,
sqft INTEGER,
num_beds INTEGER,
num_baths INTEGER
 -->
