<h5><a href='/'>Back to Main Menu</a></h5>

<% @apartments.each do |apt| %>
  <p> <%= '=' * 50 %></p>
  <h2>Apartment #<%= apt.id %></h2>
  <h3><em><%= apt.address %></em></h3>
  <p>
    <a href="/apartments/<%= apt.id %>/edit">Edit</a> ||
    <a href="">Delete</a>  ||
    <a href="/apartments/<%= apt.id %>">More information...</a>
  </p>
  <p> <%= '=' * 50 %></p>
<% end %>
