<h1><%= @apartment.address %></h1>
<p>
  Sqft: <%= @apartment.sqft %>
</p>
<p>
  Beds: <%= @apartment.num_beds %>
</p>
<p>
  Baths: <%= @apartment.num_baths %>
</p>
<p>
  Rent: $<%= @apartment.monthly_rent %>
</p>
<p>
  Renters: <%= @apartment.tenants.length %>
</p>
