<h2>Edit #<%= @apartment.id %> - <%= @apartment.address %> </h2>
Rent: <%= @apartment.monthly_rent %><br>
Square Feet: <%= @apartment.sqft %><br>
Bedrooms: <%= @apartment.num_beds %><br>
Bathrooms: <%= @apartment.num_baths %><br>
Tenants:
<ul>
<% @tenants.each do |t| %>
  <li><a href="../tenants/<%= t.id %>"><%= t.name %></a></li>
<% end %>
</ul>
<a href="<%= @apartment.id %>/edit">Edit</a><br>
<form action="/apartments/<%= @apartment.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input class="button-delete" type="submit" value="Delete!">
</form>
