h2><%= @apartment.address %></h2>
<p>Monthly Rent: <%= @apartment.monthly_rent %> </p>
<p>Square Footage <%= @pokemon.sqft %> </p>
<p>Beds: <%= @pokemon.num_beds %> </p>
<p>Baths: <%= @pokemon.num_baths %> </p>
