
<h2><a href="/apartments"> Go Back to All Apartments</a> </h2>

<p> Address: <%= @apartments.address %></p>
<p> Monthy Rent: <%= @apartments.monthly_rent %></p>
<p> Square Ft: <%= @apartments.sqft %></p>
<p> Number of Beds: <%= @apartments.num_beds %></p>
<p> Number of Baths: <%= @apartments.num_baths %></p>

<h3><a href="/apartments/<%= @apartments.id %>/edit"> Edit this Apartment</a> </h3>
