<h2>Apartment ID:  <%= @apartment.id %></h2>

<h3>Address: <%= @apartment.address %> </h3>

<h3>Monthly Rent: <%= @apartment.monthly_rent %> </h3>

<h3>Square Feet: <%= @apartment.sqft %> </h3>

<h3>Bedrooms: <%= @apartment.num_beds %> </h3>

<h3>Bathrooms: <%= @apartment.num_baths %> </h3>

<h3>Tenants: <% @apartment.tenants.each do |tenant| %>
  <a href='/tenants/<%= tenant.name %>'> <%= tenant.name %>
  </a></h3>
  <% end %>
<br>
<br>
  <button>
    <a href='/apartments/<%= @apartment.id %>/edit'>EDIT this Apartment</a>
  </button>
  <br>
  <br>
  <button>
    <a href="/apartments">RETURN to Apartments</a>
  </button>
