<h2><%= @apartment.address %></h2>
<p>Apartment ID: <%= @apartment.id %></p>
<p>Monthly Rent: $<%= @apartment.monthly_rent %></p>
<p>Square Feet: <%= @apartment.sqft %></p>
<p>Number of Bedrooms: <%= @apartment.num_beds %></p>
<p>Number of Bathrooms: <%= @apartment.num_baths %></p>
<a href="/">Back to listings</a>
