
<!-- Display Apartment Address -->
<p>Address: <%= @apartment.address %></p>

<!-- Display Apartment Rent -->
<p>Monthly Rent: $<%= @apartment.monthly_rent %></p>

<!-- Display Apartment Sq. Ft. -->
<p>Square Footage: <%= @apartment.sqft %></p>

<!-- Display Apartment Num. Beds -->
<p>Number of Beds: <%= @apartment.num_beds %></p>

<!-- Display Apartment Num. Baths -->
<p>Number of Baths: <%= @apartment.num_baths %></p>

<hr />
<a href="/apartments">â† Back to All Apartments</a>

<!-- Edit/Delete This Apartment -->
<!-- <div class="spacing">
  <a href="/apartments/<%#@apartment.id%>/edit">Edit this Apartment</a>
</div> -->
<!-- <form method="post" action="/apartments/<%# @apartment.id %>">
  <input type="hidden" name="_method" value="delete">
  <input class="button-delete" type="submit" value="Delete <%#@apartment.id %>">
</form -->
