<h1><%= @apartment.address %></h1>

  <p>Monthly Rent: <%= @apartment.monthly_rent %> </p>
  <p> Square Feet: <%= @apartment.sqft %></p>
  <p> Number of Bedrooms: <%= @apartment.num_beds %></p>
  <p> Number of Baths: <%= @apartment.num_baths %></p>

<h3><a href='/apartments'>< Back</a></h3>
