<h2><a href="/apartments">All Apartments</a></h2>
<div>
  <h2>
    Address: <%= @apartment.address %>
  </h2>
  <p>
    Rent: <%= @apartment.monthly_rent %>
  </p>
  <p>
    Square Feet: <%= @apartment.sqft %>
  </p>
  <p>
    Bedrooms: <%= @apartment.num_beds %>
  </p>
  <p>
    Bathrooms: <%= @apartment.num_baths %>
  </p>
</div>

<!-- address, monthly_rent, sqft, num_beds, num_baths -->
