<h3>Apartment Address: <%= @apartment.address %></h3>
<h3>Rent: <%= @aparment.monthly_rent %> </h3>
<h3>Area/sqft: <%= @aparment.sqft %> </h3>
<h3>Beds: <%= @aparment.num_beds %> </h3>
<h3>Baths: <%= @aparment.num_baths %> </h3>

<h2>Tenant: <a href='/tenants/<%= @tenant.id %>'><%= @tenant.name %></a></h2>
