<h3><p><%= @apartment.address %></p></h3>


  <p>Monthly Rent: <%= @apartment.monthly_rent %></p>
  <p>Square Feet: <%= @apartment.sqft %></p>
  <p>Bedrooms: <%= @apartment.num_beds %></p>
  <p>Bathrooms: <%= @apartment.num_baths %></p>

  <button type="button"><a href="/apartments/<%= @apartment.id %>/edit">Edit</a></button>

  <h2><a href="/apartments/<%= @apartment.id %>/tenants">Show Tenants</a></h2>

  <h2><a href="/apartments">Back</a></h2>
