<h1>Show Apartment: <%= @apt_details.address %></h1>

<p>Details</p>

<ul>
  <li><%= @apt_details.address %></li>
  <li>$<%= @apt_details.monthly_rent %>/month</li>
  <li><%= @apt_details.sqft %> sqft</li>
  <li>Bedrooms: <%= @apt_details.num_beds %></li>
  <li>Bathrooms: <%= @apt_details.num_baths %></li>
</ul>

<p>Tenants</p>

<ul>
  <% @apt_details.tenants.each do |tenant| %>
  <li><a href="/tenants/<%= tenant.id %>"><%= tenant.name %></a></li>
  <% end %>
</ul>

<!-- Edit Tenant -->
<div class="add_link">
  <a href="/apartments/<%= @apt_details.id %>/edit">Edit Apartment</a>
</div>

<!-- Delete Tenant -->
<form method="post" action="/apartments/<%= @apt_details.id %>" id="action">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Apartment" class="submit">
</form>
