<h1><a href="/apartments">All Apartments</a></h1>

<div class="aparments">
  <h2>Address: <%= @apartments.address %></h2>
  <ul>
  <p>Price: <%= @apartments.monthly_rent %></p>
  <p>Size: <%= @apartments.sqft %></p>
  <p>Number of Baths: <%= @apartments.num_baths %></p>
  <p>Number of Beds: <%= @apartments.num_beds %></p>
  </ul>
  <h3>Renters:</h3>
  <% @apartments.tenants.each do |tenant| %>
  <p><%= tenant.name %></p>
  <% end %>
</div>

<h2><a href="/apartments/<%= @apartments.id %>/edit">Edit Apartments</a></h2>
