<h2>Apt Address: <%= @apt.address%></h2>

<h3>Monthly rent: <%= @apt.monthly_rent%></h3>
<h4>Square feet: <%= @apt.sqft%></h4>
<h4>Bedrooms: <%= @apt.num_beds%></h4>
<h4>Bathrooms: <%= @apt.num_baths%></h4>
