<h2><%= @apartment.address %> <a href="/apartments/<%= @apartment.id %>/edit">(edit)</a></h2>
<h4>Rent: <%= @apartment.monthly_rent %> </h4>
<h4>Square Feet: <%= @apartment.sqft %> </h4>
<h4>Number of Beds: <%= @apartment.num_beds %> </h4>
<h4>Number of Baths: <%= @apartment.num_baths %> </h4>
