<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <title><% @apartment.address %> </title>
 </head>
 <body>
   <h1>Hello World - this is views/apartments/show.erb</h1>
 <p>
   <ul>
     <li><%= "Address: " + @apartment.address %></li>
     <li><%= "Rent: " + @apartment.monthly_rent.to_s %></li>
     <li><%= "Square Footage: " + @apartment.sqft.to_s %></li>
     <li><%= "Baths: " + @apartment.num_baths.to_s %></li>
     <li><%= "Beds: " + @apartment.num_beds.to_s %></li>
   </ul>
 </p>
 <p>
   
 </p>
 <button><a href="/">     Home       </a></button>
 </p>

 </body>
</html>
