<h1>Address: <%= @apartment.address %></h1>
<h3>Rent: <%= @apartment.monthly_rent %></h3>
<h3>SQFT: <%= @apartment.sqft %></h3>
<h3>Number of Beds: <%= @apartment.num_beds %></h3>
<h3>Number of Baths: <%= @apartment.num_baths %></h3>
