<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Landlord Property Management System</title>
</head>
<style>
input {display: block;}
</style>
<body>

<h2>Landlord Property Management System</h2>
	<% @apartment.id %>

	<form action="/apartments/<%= @apartment.id %>" method="put">
		<input type="hidden" name="method" value="put">
		<label for="id">Apartment ID</label><input id=id value=<%=@apartment.id %>> 
		<label for="addr">Address</label><input id=addr value=<%=@apartment.address %>> 
		<label for="Rent">Monthly Rent</label><input id=rent value=<%=@apartment.monthly_rent %>> 
		<label for="sqft">Apt Square Feet</label><input id=sqft value=<%=@apartment.sqft %>> 
		<label for="beds">Bedrooms</label><input id=beds value=<%=@apartment.num_beds %>> 
		<label for="baths">Bathrooms</label><input id=baths value=<%=@apartment.num_baths %>> 

		<input type="submit" value="Update"

	</form>

</body>
</html>